In [1]:
tup=(1,2,3,4)  # tuple is immutable
print(tup)

(1, 2, 3, 4)

In [2]:
tup1=(1)  # this is considered as an integer in brackets
tup2=(1,) # a comma should be given if we want to make a single element tuple
print(type(tup1))
print(type(tup2))

<class 'int'>
<class 'tuple'>

In [3]:
tup=(23,67,1,89,206)
print(tup[1])
print(tup[-2])  # works similar to as in lists

67
89

In [4]:
if 23 in tup:
    print("Yes it is present")

Yes it is present

In [5]:
tup2=tup[1:3]
# slicing will return a new tuple as tuple is immutable
print(tup2)
print(tup)

(67, 1)
(23, 67, 1, 89, 206)

In [6]:
tup=(12,56.0,"hello",True)
# tuple can contain multiple datatypes
print(tup)

(12, 56.0, 'hello', True)

In [2]:
tup=(1,3,5,7,13,11,19)
# to manipulate a tuple, we have to convert it into a list
# then make the required changes and convert it back to a tuple
temp=list(tup)
temp.pop()
temp[4]=9
tup=tuple(temp)
print(tup)

(1, 3, 5, 7, 9, 11)

In [4]:
# we can concatenate two tuples without converting them to lists as we are not modifying the list 
# but creating a new one
t1=(2,4,6,8)
t2=(10,12,14,16)
t3=t1+t2
print(t3)

(2, 4, 6, 8, 10, 12, 14, 16)

In [9]:
tup=(1,4,6,1,7,0,1,45,6,7,102)
freq=tup.count(1)
# returns the number of occurences of the specified element in the tuple
print(freq)

3

In [10]:
ind=tup.index(6)
# returns the index of the first occurence of the specified element
# throws error if the value is not present in the tuple
print(ind)

2

In [12]:
tup=(2,6,78,90,34,6,89,120)
ind2=tup.index(6,3,7)
# returns the index of the first occurence of the specified element in the specified range
# throws error if the value is not present in the tuple
# here it searches 6 in the tuple from index 4 to 8 and returns the index of the first occurence
print(ind2)

5

In [13]:
t1=(23,678,54,30,58,88)
size=len(t1)
# returns the length of the tuple
print(size)

6